<nav class="navbar navbar-expand-lg navbar-light bg-dark-subtle" *ngIf="user">
    <div class="navbar-nav ms-auto pe-2">
        <div class="nav-item dropdown">
            <a class="dropdown-logout nav-link dropdown-toggle" data-bs-toggle="dropdown" href="">
                <fa-icon [icon]="['fas', 'user']"></fa-icon>
            </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                <div class="logout-button dropdown-item" (click)="logout()">Logout</div>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <alert-component class="d-sm-flex flex-row justify-content-center align-items-center"></alert-component>
    <router-outlet></router-outlet>
</div>
